// General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.home-page {
  @apply tw-to-[8%]  tw-from-0%;
}

.gallery-page {
  @apply tw-from-50% tw-to-50%;
}

.blog-page {
  @apply tw-to-50% tw-from-50%;
}
