// Skill

.skill {
  .separator {
    .triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .rod {
      background: var(--secondary-darker);

      &.active {
        background: linear-gradient(
          to bottom,
          var(--primary-default),
          var(--primary-lighest)
        );
      }
    }
  }
}
