// ArticleContent

@import "./components/components";

.article-content {
  .article-body {
    h2 {
      line-height: 37.6px !important;

      @media (width >= 425px) {
        line-height: 56px !important;
      }

      @media (width >= 768px) {
        line-height: 75.2px !important;
      }
    }

    p {
      @apply p-default tw-text-headings;
    }

    strong {
      @apply tw-tracking-[1px];
    }

    iframe,
    img,
    figure {
      @apply tw-mx-auto !tw-w-full;
    }

    iframe {
      @apply tw-h-[unset] tw-aspect-[741.5/417] tw-outline-none;
    }

    figure {
      @apply tw-flex tw-flex-col tw-gap-[20px];

      figcaption {
        @apply tw-font-inter tw-italic;
      }
    }

    a {
      @apply tw-text-action hover:tw-text-action-hover tw-transition-all tw-duration-200 tw-ease-in-out tw-font-bold tw-underline;
    }

    table {
      @apply tw-table-auto tw-border-separate tw-border-spacing-0 tw-border tw-border-white tw-rounded-[.5rem] tw-overflow-hidden;

      th {
        @apply tw-border tw-border-white tw-px-4 tw-py-[.5rem] tw-text-left tw-font-bold tw-font-bowlby-one p-small tw-text-headings;
      }

      td {
        @apply tw-border tw-border-white tw-px-4 tw-py-[1rem] tw-font-inter p-small tw-text-headings first-of-type:tw-w-[17rem];
      }
    }

    code {
      @apply tw-bg-gradient-to-r primary-gradient tw-px-[.4rem] tw-rounded-md tw-shadow-inner tw-shadow-[rgba(0,0,0,.6)];

      a {
        @apply tw-text-headings hover:tw-text-headings;
      }

      mark {
        @apply tw-text-headings;
      }
    }

    ul,
    ol {
      @apply tw-flex tw-flex-col tw-gap-[15px];

      li {
        @apply p-small tw-pl-[2rem] tw-relative tw-text-headings after:tw-block after:tw-absolute after:tw-top-0 after:tw-left-0 after:tw-w-[1rem] after:tw-h-[29.5px] after:tw-bg-white;

        &::after {
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
        }
      }
    }

    .yarpp-related {
      ol {
        @apply tw-flex tw-flex-col tw-items-start tw-justify-center tw-gap-[.5rem] p-default tw-mt-[.5rem];

        li {
          @apply tw-no-underline tw-pl-[2rem] tw-relative after:tw-block after:tw-absolute after:tw-top-1/2 after:-tw-translate-y-1/2 after:tw-left-0 after:tw-w-[1rem] after:tw-h-[1.5rem] after:tw-bg-gradient-to-r;

          a {
            @apply tw-no-underline;
          }

          &::after {
            clip-path: polygon(0 0, 0% 100%, 100% 50%);

            /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
            @extend .primary-gradient !optional;
          }
        }
      }
    }

    .dm-code-snippet {
      @apply tw-p-0 !tw-bg-[unset] tw-my-[30px];

      .control-language {
        @apply tw-border-none tw-bg-[#272822] tw-p-[1em] tw-m-[0.5em_0_0] tw-rounded-[0.3em];

        .dm-buttons {
          @apply tw-flex tw-justify-between tw-p-0 tw-mb-[10px];

          .dm-buttons-left {
            @apply tw-flex tw-items-center;

            .dm-button-snippet {
              @apply tw-w-[12px] tw-h-[12px] tw-rounded-full tw-mr-[10px];

              &.red-button {
                @apply tw-bg-[#f92a2a];
              }

              &.green-button {
                @apply tw-bg-[#1ec500];
              }

              &.orange-button {
                @apply tw-bg-[#ffb100];
              }
            }
          }

          .dm-buttons-right {
            @apply tw-flex tw-items-center;

            a {
              @apply tw-opacity-50 tw-float-left tw-text-white tw-shadow-none tw-bg-gradient-to-r primary-gradient
                 tw-px-[10px] tw-pt-[3px] tw-pb-[2px] tw-text-xs tw-uppercase tw-min-w-[94px] tw-text-center
                  tw-tracking-[1px] tw-rounded-[3px] tw-transition-all tw-duration-200 
                  tw-ease-in-out hover:tw-opacity-100 hover:tw-cursor-pointer tw-no-underline;

              span {
                @apply tw-text-white tw-text-xs tw-uppercase tw-tracking-[1px];
              }
            }
          }
        }
      }
    }

    pre {
      code {
        background-image: unset;

        @apply tw-shadow-[unset];
      }
    }
  }

  #ez-toc-container {
    display: none;
  }
}
