// Background colors
$primary-bg-color: rgb(21, 21, 21);
$secondary-bg-color: white;
$band-bg-color: rgb(251, 161, 56);

// Text colors
$band-text-color: white;
$text-hover-color: #9b00ff;
$green: #aed900;
$primary-text-color: rgb(250, 230, 1);
$normal-text-color: white;
$title-color: #00a3c8;

// Others
$navbar-background-color: black;

//TODO theme colors
// #FF5C01
// #FFA701
// #FCFF03
// #FFC530
// #2b2b2b
// #000
// #ACACAC
