// Shared SCSS

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.fontawesome-gradient-icon path {
  fill: url("#gradient");
}

.svg-gradient {
  width: 0;
  height: 0;
  position: absolute;
}
