.popup-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .popup-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 0;
  }

  .popup-container{
    height: 650px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(0deg, black, #2b2b2b 50%);
    text-align: start;
    overflow-y: scroll;
    gap: 2rem;
    z-index: 1;
    
    .image-wrapper{
      width: 100%;
      
    }
    
    .logo-row{
      display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        position: relative;

        .row{
          width: 30%;
          border: none;
          height: 1px;

          &.first{
            background: linear-gradient(90deg, #ff5c01, #fcff03);
          }

          &.second{
            background: linear-gradient(270deg, #ff5c01, #fcff03);
          }
        }

      .logo-wrapper{
        width: 40px;
        aspect-ratio: 1/1;        
      }
    }
    
    .popup-content{
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .title{
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: var(--gradient);
        width: fit-content;
        font-size: 26px;
      }

      .tags-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.2rem;

        .tag{
          color: white;
          background-color: rgba(255, 167, 1, 0.81);
          border-radius: 10px;
          padding: 0.2rem 0.4rem;
          font-weight: 550;
          font-size: 14px;
        }

      }

      .description-container{
        
      }
  

    }

    .see-website{
      margin-bottom: 0.5rem;
    }
    
  }
}





