.button {
  display: flex;
  width: 380px;
  height: 78px;
  padding: 20px 30px;
  border-radius: var(--border-radius, 8px);
  border: 1px solid var(--border-primary, #f28307);
  background: var(--button-primary, #ff5c01);
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
