.carousel-wrapper {
  .carousel {
    .swiper-slide {
      aspect-ratio: 1920/1080;
      background: #000;
      display: flex;
      align-items: center;
      justify-content: center;

      &.swiper-slide-active {
        transform: translateY(1.5rem);
        transition: all 0.4s ease-in-out;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: calc(100% + 2.5rem);
      margin-top: 0;
    }

    @layer {
      .carousel-button {
        top: calc(100% + 2rem);

        @apply tw-absolute tw-text-2xl tw-aspect-square
          tw-cursor-pointer tw-bg-gray-400 tw-w-8 tw-flex tw-items-center
          tw-justify-center;
      }
    }
  }
}
